.application-header{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 5rem;
    padding-top: 9rem;
}
p{
    padding: 0 1rem 0 0.5rem;    
    color: #014B8E;
}
h1{
    padding: 0.5rem 1rem 0 0.5rem;    
    color: #014B8E;
}
a{
    padding: 0.5rem 1rem 0 0.5rem;
    color: #e45e00;
    font-size: large;
}