.application-layout-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.application-layout-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 1rem;
}